<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/toggle.css">
    {#    <script src="js/bootstrap.min.js"></script>#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>MyBucket - Activities</title>
</head>
<body>
<div class="container-fluid">
    <div class="col-md-12"><h1><strong>MyBucket</strong></h1></div>
    <div class="row">
        <div id="bucket-lists-heading" class="col-md-8"><h2>
            <a href="http://localhost:5000/buckets"><em>Buckets</em></a> / {{ bucket_name }}</h2>
        </div>
        <div class="col-md-2">
            <input type="button" id="e-bucket-btn" value="Edit Bucket" data-toggle="modal"
                   data-target="#editBucketModal"/>
        </div>
        <div class="col-md-2">
            <a href="http://localhost:5000/del_bucket/{{ bucket_name }}">
                <input type="button" id="delete-bucket-btn" value="Delete Bucket"/>
            </a>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th>Activity</th>
                <th>Date Added</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for act in bucket_acts %}
                <tr>
                    <td><a href="">{{ act.name }}</a></td>
                    <td>20-07-2017</td>
                    <td>
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td>
                        <a href="http://localhost:5000/edit_activity/{{ bucket_name }}/{{ act.name }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="http://localhost:5000/del_activity/{{ bucket_name }}/{{ act.name }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4"><input type="button" id="add-activity-btn" value="Add Activity+" data-toggle="modal"
                                       data-target="#addActivityModal"></td>
            </tr>

            </tbody>
        </table>

        <!-- Add activity Modal -->
        <div class="modal fade" id="addActivityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Add an Activity</h4>
                    </div>
                    <div class="modal-body">
                        <form action="http://localhost:5000/create_activity/{{ bucket_name }}" method="post">
                            <div><input type="text" name="activity-name" class="modal-text-box"
                                        placeholder="Activity" required></div>
                            <div><input type="submit" id="create-bucket-btn" value="Add Activity"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit bucket Modal -->
        <div class="modal fade" id="editBucketModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Edit a Bucket</h4>
                    </div>
                    <div class="modal-body">
                        <form action="http://localhost:5000/edit_bucket/{{ bucket_name }}" method="post">
                            <div><input type="text" name="bucket-name" class="modal-text-box"
                                        placeholder="Bucket Name" value="{{ bucket_name }}" required></div>
                            <div><input type="submit" id="edit-bucket-btn" value="Update"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>