<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>MyBucket - buckets</title>
</head>
<body>
<div class="container-fluid">
    <div class="col-md-12">
        <h1><strong>MyBucket
    </div>
    <div class="row">
        <div id="bucket-lists-heading" class="col-md-10"><h2>Bucket Lists</h2></div>
        <div class="error">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="col-md-2">
            <input type="button" id="create-bucket" value="Create New" data-toggle="modal"
                   data-target="#addBucketModal"/>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addBucketModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         align="center">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Create new Bucket</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action="http://localhost:5000/create_bucket">
                        <div><input type="text" name="bucket-name" class="modal-text-box"
                                    placeholder="Bucket Name" required></div>
                        <div><input type="text" name="description" class="modal-text-box"
                                    placeholder="Description" required></div>
                        <div><input type="submit" id="create-bucket-btn" value="Create Bucket"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        {% for bucket in buckets %}
            {% set achieved = 0 %}
            {% set pending = 0 %}
            <a href="http://localhost:5000/buckets/{{ bucket.name }}">
                <div id="bucket-1" class="col-md-2 bucket">
                    <div class="bucket-name">{{ bucket.name }}</div>
                    {% for activity in bucket.activities %}
                        {% if activity.status %}
                            {% set achieved = achieved + 1 %}
                        {% else %}
                            {% set pending = pending + 1 %}
                        {% endif %}
                    {% endfor %}
                    <div class="bucket-label">Activities {{ bucket.activities|length }}</div>
                    <div class="bucket-label">Achieved {{ achieved }}</div>
                    <div class="bucket-label">Pending {{ pending }}</div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
</body>
</html>