<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/toggle.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>MyBucket - Activities</title>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: green;font-size: 250%">BucketList</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <button type="button" class="btn btn-danger pull-right" style="margin-top: 1%;">Sign Out</button>


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
        <div id="bucket-lists-heading" class="col-md-5"><h2>
            <a href="http://localhost:5000/buckets"><em>Buckets</em></a> / {{ bucket_name }}</h2>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-warning pull-right"
                    onclick="return confirm('Are you sure you want to delete this bucket')"
                    style="margin-top: 3%;margin-right: 1%;">Delete Bucket
            </button>
            <button type="button" class="btn btn-primary pull-right" style="margin-top: 3%;margin-right: 1%;"
                    data-toggle="modal"
                    data-target="#editBucketModal">Edit Bucket
            </button>
        </div>
    </div>
    <div class="col-md-10">
        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th>Activity</th>
                <th>Date Added</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for item in bucket_items %}
                <tr>
                    <td><a href="">{{ item.name }}</a></td>
                    <td>20-07-2017</td>
                    <td>
                        <label class="switch">
                            {% if item.status %}
                                <input type="checkbox" checked disabled>
                            {% else %}
                                <input type="checkbox" disabled>
                            {% endif %}

                            <span class="slider round"></span>
                        </label>
                    </td>
                    <td>
                        <a href="http://localhost:5000/edit_item/{{ bucket_name }}/{{ item.name }}">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="http://localhost:5000/del_item/{{ bucket_name }}/{{ item.name }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4"><input type="button" id="add-activity-btn" value="Add Activity+" data-toggle="modal"
                                       data-target="#addItemModal"></td>
            </tr>

            </tbody>
        </table>

        <!-- Add item Modal -->
        <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             align="center">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Add an Activity</h4>
                    </div>
                    <div class="modal-body">
                        <form action="http://localhost:5000/create_item/{{ bucket_name }}" method="post">
                            <div class="form-group"><textarea name="item-name" class="form-control"
                                                              placeholder="Activity" required></textarea></div>
                            <div><input type="submit" id="create-bucket-btn" class="btn btn-primary"
                                        value="Add Activity"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Edit bucket Modal -->
        <div class="modal fade" id="editBucketModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             align="center">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Edit a Bucket</h4>
                    </div>
                    <div class="modal-body">
                        <form action="http://localhost:5000/edit_bucket/{{ bucket_name }}" method="post">
                            <div class="form-group"><input type="text" name="bucket-name" class="form-control"
                                                           placeholder="Bucket Name" value="{{ bucket_name }}" required>
                            </div>
                            <div class="form-group"><input type="text" name="description" class="form-control"
                                                           placeholder="Description" value="{{ bucket_desc }}" required>
                            </div>
                            <div><input type="submit" class="btn btn-primary" id="edit-bucket-btn" value="Update"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>